<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>회원가입 페이지</h1>
        <form>
	        <div>
	        	<input type="email" size=50 name="u_email" placeholder="email을 입력해주세요">
	        </div>
	        <div>
	        	<input type="password" size=50 name="u_pw" placeholder="pw를 입력해주세요">
	        </div>
	        <div>
	        	<input type="text" size=50 name="u_name" placeholder="이름을 입력해주세요">
	        </div>
	        <div>
	        	<input type="text" size=50 name="u_phone" placeholder="전화번호를 입력해주세요">
	        </div>
	        <div>
	        	<input type="text" size=50 name="u_addr" placeholder="주소를 입력해주세요">
	        </div>
	        <div>
				<button>회원가입</button>
			</div>
		</form>
		<div>
			<button onclick="">중복확인</button>
		</div>
    </div>
</body>
</html>